<h1>Editing Book</h1>

<% if @book.errors.any? %>
 <div id="error_explanation">
  <h2>2 errors prohibited this book from being saved:</h2>
   <ul>
    <li>Title can't be blank</li>
    <li>Body can't be blank</li>
   </ul>
 </div>
<% end %>

<%= form_with model: @book do |f| %>
 <div class="field">
  <div class="field-with-errors">
  <label for="book_title">Title</label>
  </div>
  <div class="field-with-errors">
  <%= f.text_field :title %>
  </div>
 </div>
 <div class="field">
  <div class="field-with-errors">
  <label for="book_body">Body</label>
  </div>
  <div class="field-with-errors">
  <%= f.text_area :body %>
  </div>
 </div>
 <div class="action">
    <%= f.submit 'Update Book' %>
 </div>
<% end %>

<%= link_to "Show", book_path(@book) %>
<%= link_to "back", books_path %>

