<body>
  <div class="succes-flash">
　<%= flash[:notice] %>
　</div>
<p>
  <strong>Title:</strong>
  <%=@book.title %>
</p>

<p>
  <strong>Body:</strong>
  <%=@book.body %>
</p>

<%= link_to "edit", edit_book_path(@book.id) %>
<%= link_to "back", books_path %>
</body>